<% include partials/header %>
<div class="container">
	<div class="row">
			
	  <div style="text-align: center; margin: 0 auto; padding-top: 10%; padding-bottom: 25%;">
		<div class="card" style="width: 75%; height: 100%;">
 		 <div class="card-body">
  		  <h5 class="card-title"><%= pickedCard.category %></h5>
  		  <p class="card-text"><%= pickedCard.question %></p>
		  <p>
		    <a style="margin-top: 20px;" href="/ice" class="btn btn-info btn-lg">Shuffle</a>
		  </p>
  		</div>		
	  </div>

    </div>
		
  </div>
  <a class="btn btn-danger btn-md" href="/">Go back</a>
</div>


<% include partials/footer %>
