<% include partials/header %>

<div class="container">
	<div class="jumbotron">
		<h1>Virtual Icebreaker Discovery Deck</h1>
		<p>Taking the cards from Best Self's <a href="https://bestself.co/products/icebreaker-deck">"Icebreaker Discovery Deck"</a> and turning it into an app. This mini web app also gives the user the ability to add their own questions into the deck.</p>
		<a  href="/ice" class="btn btn-info btn-lg">Open Icebreaker Deck</a>
		<a class="btn btn-primary btn-sm" href="/deck">View/Edit Deck</a>
	</div>
	<h2>How to Use</h2>
		<h4>Quote from Bestself:</h4>
		<p>The Icebreaker has 6 categories of topics.</p>
		<p>With one-on-one or groups, select a card and start sharing!</p>
		<p>The Icebreaker Deck can also be used as journaling prompts.</p>
		<p>No matter how it's used, watch relationships grow stronger as you share and listen.</p>
		<p>Click "Open Icebreaker Deck" to try out the deck itself, or click "View/Edit Deck" to view the cards that are being shuffled, add new cards to the deck, and edit or delete any existing cards.</p>
	<h4>App Functionalities: </h4>
<ul>
	<li>View whole deck</li>
	<li>Add new cards</li>
	<li>Edit and Update card's details/information</li>
	<li>Open and shuffle the deck</li>
</ul>
	<a href="https://bestself.co/">Bestself's Website</a>
</div>
<% include partials/footer %>


