<% include partials/header %>


<div class="container">
		<h1 style="text-align:center;">Add a new card</h1>
		<div style="width: 30%; margin: 0 auto;">
			<form action="/deck" method="POST">
				
				<div class="form-group">
					<select class="custom-select" name="card[category]" required>
  						<option disabled selected>Select a category for this question:</option>
  						<option value="Deep">Deep</option>
 						<option value="Random">Random</option>
  						<option value="Life">Life</option>
						<option value="If you could...">If you could...</option>
 						<option value="Would you rather...">Would you rather...</option>
  						<option value="Experiences">Experiences</option>
					</select>
				</div>
				
				<div class="form-group">
					<label>Question</label>
					<input type="text" name="card[question]" placeholder="Question">
				</div>
				
				<div class="form-group">
					<button class="btn btn-success btn-lg ">Create new card</button>				
				</div>
				
			</form>
		</div>	
	
	<p>
		<a class="btn btn-danger btn-md" href="/deck">Cancel</a>
	</p>
</div>



<% include partials/footer %>
